Repository foundryvtt/dnd5e, pull requests merged in 2025-09, with the labels that each got.

#6124 [#6123] Fix token ruler always displaying red for certain actions
  module/canvas/ruler.mjs
Labels: system: canvas

#6147 Remove code deprecated in 5.2
  dnd5e.mjs
  module/applications/_module.mjs
  module/applications/actor/_module.mjs
  module/applications/actor/api/base-actor-sheet.mjs
  module/applications/actor/deprecated/base-config.mjs
  module/applications/actor/deprecated/character-sheet.mjs
  module/applications/actor/deprecated/npc-sheet.mjs
  module/applications/actor/deprecated/sheet-mixin.mjs
  module/applications/actor/deprecated/sheet-v2-mixin.mjs
  module/applications/advancement/_module.mjs
  module/applications/advancement/advancement-selection.mjs
  module/applications/api/_module.mjs
  module/applications/api/drag-drop-mixin.mjs
  module/applications/api/primary-sheet-mixin.mjs
  module/applications/item/_module.mjs
  module/applications/item/deprecated/container-sheet-2.mjs
  module/applications/item/deprecated/item-sheet-2.mjs
  module/applications/item/deprecated/sheet-v2-mixin.mjs
  module/applications/item/item-compendium.mjs
  module/applications/item/item-directory.mjs
  module/applications/mixins/_module.mjs
  module/applications/mixins/sheet-v2-mixin.mjs
  module/config.mjs
  module/data/activity/base-activity.mjs
  module/data/item/templates/activities.mjs
  module/documents/active-effect.mjs
  module/documents/actor/actor.mjs
  module/documents/token.mjs
  module/enrichers.mjs
Labels: api, priority: high

#6060 Fixed missing month conversion in duration field
  module/data/shared/duration-field.mjs
Labels: bug, system: active effects, system: item sheets, system: calendar
