Repository foundryvtt/dnd5e, pull requests merged in 2025-07, with the labels that each got.

#5809 [#5672] Convert journal sheets to ApplicationV2
  dnd5e.mjs
  lang/en.json
  less/dnd5e.less
  less/v1/journal.less
  less/v2/actors.less
  less/v2/apps.less
  less/v2/dark/apps.less
  less/v2/dark/journal.less
  less/v2/dark/typography.less
  less/v2/items.less
  less/v2/journal.less
  less/v2/typography.less
  module/applications/journal/_module.mjs
  module/applications/journal/journal-entry-sheet.mjs
  module/applications/journal/journal-sheet.mjs
  module/applications/journal/map-page-sheet.mjs
  module/applications/journal/rule-page-sheet.mjs
  templates/items/description.hbs
  templates/journal/page-rule-edit.hbs
Labels: compatibility, priority: high

#5804 [#933] Add special field to actor movement
  less/v1/apps.less
  module/applications/actor/npc-sheet.mjs
  module/data/actor/npc.mjs
  module/data/item/race.mjs
  module/data/shared/movement-field.mjs
  module/documents/actor/actor.mjs
Labels: feature request, priority: high

#5142 [#5137] Add spell list restriction to Choose Items advancement
  dnd5e.mjs
  lang/en.json
  module/applications/advancement/item-choice-config.mjs
  module/applications/advancement/item-choice-flow.mjs
  module/data/advancement/item-choice.mjs
  module/data/item/spell.mjs
  module/documents/advancement/item-choice.mjs
  module/registry.mjs
  templates/advancement/item-choice-config-details.hbs
Labels: breaking, system: advancement, priority: high

#5813 [#5304] Add "Never Collapse" collapse tray option, which only collapses if explicitly told to collapse
  lang/en.json
  module/applications/components/damage-application.mjs
  module/applications/components/effect-application.mjs
  module/documents/chat-message.mjs
  module/settings.mjs
Labels: ui, ux, uncontroversial

#5815 [#5672] Convert class & subclass summary pages to ApplicationV2
  less/dnd5e.less
  less/v1/journal.less
  less/v2/journal.less
  module/applications/journal/class-page-sheet.mjs
  module/applications/journal/journal-entry-sheet.mjs
  templates/journal/page-class-edit.hbs
  templates/journal/page-class-view.hbs
  templates/journal/page-subclass-edit.hbs
  templates/journal/page-subclass-view.hbs
Labels: system: journals, compatibility, priority: high

#5737 Add support for rotation region shapes with rotate region behavior
  lang/en.json
  module/applications/region-behavior/rotate-area-config.mjs
  module/data/region-behavior/rotate-area.mjs
Labels: system: region behaviors, priority: high

#5838 [#4604] [#5408] Divorce spellcasting method from preparation state.
  dnd5e.mjs
  lang/en.json
  module/applications/activity/activity-usage-dialog.mjs
  module/applications/actor/api/base-actor-sheet.mjs
  module/applications/actor/character-sheet.mjs
  module/applications/actor/config/spell-slots-config.mjs
  module/applications/advancement/item-choice-config.mjs
  module/applications/advancement/item-choice-flow.mjs
  module/applications/advancement/item-grant-config.mjs
  module/applications/api/primary-sheet-mixin.mjs
  module/applications/components/inventory.mjs
  module/applications/item/item-sheet.mjs
  module/applications/journal/class-page-sheet.mjs
  module/config.mjs
  module/data/_module.mjs
  module/data/active-effect/enchantment.mjs
  module/data/activity/base-activity.mjs
  module/data/actor/npc.mjs
  module/data/advancement/item-choice.mjs
  module/data/advancement/item-grant.mjs
  module/data/advancement/spell-config.mjs
  module/data/item/fields/spellcasting-field.mjs
  module/data/item/spell.mjs
  module/data/spellcasting/_module.mjs
  module/data/spellcasting/spellcasting-model.mjs
  module/documents/activity/mixin.mjs
  module/documents/actor/actor.mjs
  module/documents/item.mjs
  module/migration.mjs
  module/settings.mjs
  templates/actors/character-sidebar.hbs
  templates/advancement/advancement-spell-config-section.hbs
  templates/inventory/columns/controls.hbs
  templates/items/details/details-spell.hbs
Labels: api, breaking, priority: high

#5742 Adjust how rotating regions are animated to eliminate delays
  module/data/region-behavior/rotate-area.mjs
Labels: system: region behaviors, priority: high

#5452 [#5130] Adjust passive skills based on roll mode
  module/config.mjs
  module/data/actor/templates/attributes.mjs
  module/data/actor/templates/creature.mjs
Labels: system: dice, priority: high

#5811 [#5300] Add feature prerequisites on other items
  lang/en.json
  module/applications/advancement/ability-score-improvement-flow.mjs
  module/applications/advancement/item-choice-flow.mjs
  module/data/abstract/item-data-model.mjs
  module/data/item/feat.mjs
  module/documents/actor/actor.mjs
  templates/items/details/details-feat.hbs
Labels: system: advancement, priority: high

#5807 [#5736] Add separate ability maximum to ability score advancement
  lang/en.json
  module/applications/advancement/ability-score-improvement-flow.mjs
  module/data/advancement/ability-score-improvement.mjs
  module/documents/advancement/ability-score-improvement.mjs
  packs/_source/feats24/epic-boon-feats/boon-of-combat-prowess.yml
  packs/_source/feats24/epic-boon-feats/boon-of-dimensional-travel.yml
  packs/_source/feats24/epic-boon-feats/boon-of-fate.yml
  packs/_source/feats24/epic-boon-feats/boon-of-irresistible-offense.yml
  packs/_source/feats24/epic-boon-feats/boon-of-spell-recall.yml
  packs/_source/feats24/epic-boon-feats/boon-of-the-night-spirit.yml
  packs/_source/feats24/epic-boon-feats/boon-of-truesight.yml
  templates/advancement/ability-score-improvement-config-details.hbs
Labels: system: advancement, priority: high

#5826 [#5824] Add option to use skills with tool in line with 2024 rules
  lang/en.json
  module/documents/actor/actor.mjs
  module/enrichers.mjs
Labels: system: dice, system: enrichers, priority: high

#5843 Ensure elevation is considered for tokens blocking movement
  module/canvas/token.mjs
Labels: bug

#5860 Hit/Miss icon in "Targets" section of attack card properly reflects hit/miss if attack visibility is set to "hideAC"
  module/documents/chat-message.mjs
Labels: bug, ui

#5849 Sort skills and tools during sheet preparation
  module/applications/actor/api/base-actor-sheet.mjs
Labels: bug, localization

#5514 [#5382] Reduce exhaustion when resting
  module/config.mjs
  module/documents/actor/actor.mjs
Labels: api, system: rests, strategic, priority: high

#5866 [#5787] Automatically create advancement on classes & backgrounds
  lang/en.json
  module/data/item/background.mjs
  module/data/item/class.mjs
  module/data/item/feat.mjs
  module/data/item/race.mjs
  module/data/item/subclass.mjs
  module/data/item/templates/advancement.mjs
Labels: system: advancement, priority: high

#5876 [#5581] Add direct link mode for selection in Transform activity
  lang/en.json
  less/v2/activities.less
  module/applications/activity/transform-sheet.mjs
  module/data/activity/summon-data.mjs
  module/data/activity/transform-data.mjs
  module/documents/activity/transform.mjs
  templates/activity/parts/transform-profiles.hbs
Labels: system: activities, system: transformation, priority: high

#5850 [#5847] Add `identifier` to unlinked spells on spell list page
  dnd5e.mjs
  module/data/item/spell.mjs
  module/data/journal/spells.mjs
  module/registry.mjs
  templates/journal/spell/unlinked-spell.hbs
Labels: system: journals, priority: high, system: registry

#5841 [#4895] Add automatic self enchanting option for Enchant activity
  lang/en.json
  module/applications/activity/activity-sheet.mjs
  module/applications/activity/activity-usage-dialog.mjs
  module/applications/activity/cast-sheet.mjs
  module/applications/activity/enchant-sheet.mjs
  module/applications/activity/enchant-usage-dialog.mjs
  module/applications/activity/forward-sheet.mjs
  module/applications/activity/summon-sheet.mjs
  module/applications/activity/utility-sheet.mjs
  module/applications/components/enchantment-application.mjs
  module/data/activity/enchant-data.mjs
  module/documents/active-effect.mjs
  module/documents/activity/enchant.mjs
  templates/activity/attack-identity.hbs
  templates/activity/cast-identity.hbs
  templates/activity/forward-identity.hbs
  templates/activity/identity.hbs
  templates/activity/summon-identity.hbs
  templates/activity/utility-identity.hbs
Labels: ux, system: activities, priority: high

#5484 [#5483] Add stat blocks formatted for 2014 rules
  lang/en.json
  less/v2/typography.less
  less/variables/dark.less
  less/variables/light.less
  module/data/actor/npc.mjs
  module/data/actor/templates/attributes.mjs
  templates/actors/embeds/npc-embed.hbs
Labels: system: enrichers, priority: high

#5883 Fix some v13 deprecations for CompendiumCollection
  module/applications/actor/deprecated/sheet-mixin.mjs
  module/applications/mixins/sheet-v2-mixin.mjs
  module/registry.mjs
Labels: compatibility, uncontroversial, priority: high

#5842 [#5806] Alleviate chat forced reflow/target selection performance issues
  less/v2/chat.less
  module/applications/chat-log.mjs
  module/applications/components/chat-tray-element.mjs
  module/applications/components/damage-application.mjs
  module/applications/components/effect-application.mjs
  module/applications/components/targeted-application-mixin.mjs
Labels: strategic, priority: medium, performance

#5890 [#5888] Fix Transformation Setting otherSettings name prefix
  module/data/settings/transformation-setting.mjs
Labels: bug, system: transformation

#5881 [#5025] Switch legendaries to use `spent` rather than `value`
  lang/en.json
  module/applications/actor/api/base-actor-sheet.mjs
  module/applications/actor/npc-sheet.mjs
  module/data/activity/fields/consumption-targets-field.mjs
  module/data/actor/npc.mjs
  module/documents/activity/mixin.mjs
  module/documents/token.mjs
  module/utils.mjs
  templates/actors/npc-header.hbs
Labels: api, priority: high

#5844 Color ruler segment & grid highlights according to movement speed
  module/canvas/ruler.mjs
  module/config.mjs
Labels: ui, system: canvas, strategic, priority: high

#5903 Ensure pip toggling works for pips representing non-`value` or non-`spent` properties
  module/applications/actor/api/base-actor-sheet.mjs
Labels: system: actor sheets

#5906 Add convenience getter for primary party
  dnd5e.mjs
  module/applications/award.mjs
  module/applications/currency-manager.mjs
  module/data/abstract/actor-data-model.mjs
  module/data/actor/group.mjs
  module/data/collection/_module.mjs
  module/data/collection/actors-collection.mjs
  module/documents/actor/actor.mjs
  module/tooltips.mjs
Labels: api
